@model List<EasyBank.Models.BankAccount>
    <h2>@Html.Label(@Resources.Resource.BankAccounts)</h2>
<h3>@Resources.Resource.BankAccountsBalance</h3>
<table>
    <tr>
        @foreach (var item in Model)
        {
            <th>
                @Html.DisplayFor(modelItem => item.CurrencyName)
            </th>
        }
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
        }
    </tr>
</table>
<br />
@Html.ActionLink(@Resources.Resource.Back, "TotalDepositedAmount", "Operation")  

