@model List<EasyBank.Models.DepositCreditModel>

<table>
    <tr>
        <th style="width: 130px">
            @Resources.Resource.CreditName
        </th>
        <th>
            @Resources.Resource.Duration,
        </th>
        <th>
            @Resources.Resource.InterestRate, %
        </th>
        <th>
            @Resources.Resource.EarlyTerminationCredit
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration) mon.
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestRate) %
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EarlyTermination)
            </td>

        </tr>
    }
</table>