@model List<EasyBank.Models.DepositCreditModel>


<h2>@Html.Label(@Resources.Resource.BankProducts)</h2>
<br/>
@if (User.IsInRole("Administrator"))
{ 
    @Html.ActionLink(@Resources.Resource.AddBankProduct, "AddDepositCredit", "Office",null, new{@id="add"})
}
<br/>
<table>
    <tr>
        <th style="width: 130px">
            @Resources.Resource.DepositName
        </th>
        <th>
            @Resources.Resource.Duration
        </th>
        <th>
            @Resources.Resource.InterestRate
        </th>
        <th>
            @Resources.Resource.EarlyTermination
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration) mon.
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestRate) %
            </td>
            <td>
                @{
                    if (!item.EarlyTermination)
                    {
                        <span>YES</span>
                    }
                }
            </td>

        </tr>
    }
</table>
 
@Html.Action("CreditList")