<h2>Total Deposited Amount</h2>

@Html.DisplayFor(model => Model)

<br />

@Html.Action("TotalCreditedAmount")
@Html.Action("TotalDepositInterests")
@Html.Action("TotalCreditInterests")

@Html.Action("ProfitCalc")n("TotalCreditedAmount")