@model List<EasyBank.Models.TotalAmountForCurrency>
@Html.ActionLink("Bank Accounts", "BankAccounts", "Office")
<br/>
<h3>Total Deposited Amount</h3>
<table>
    <tr>
        @foreach (var item in Model)
            {
        <th>
                @Html.DisplayFor(modelItem => item.CurrencyName)
        </th>
            }
    </tr>
    <tr>
        @foreach (var item in Model)
            {
        <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)       
        </td>
            }
    </tr>
</table>

<br />

@Html.Action("TotalCreditedAmount")
@*@Html.Action("TotalDepositInterests")
@Html.Action("TotalCreditInterests")*@
@Html.Action("ProfitPlanningCalc")


