@model List<EasyBank.Models.TotalAmountForCurrency>

<br />
<h2>@Html.Label(@Resources.Resource.FinancialReports)</h2>
<br />

@Html.Action("BankAccounts", "Office")

<h3>@Resources.Resource.TotalDepositedAmount</h3>
<table>
    <tr>
        @foreach (var item in Model)
            {
        <th>
                @Html.DisplayFor(modelItem => item.CurrencyName)
        </th>
            }
    </tr>
    <tr>
        @foreach (var item in Model)
            {
        <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)       
        </td>
            }
    </tr>
</table>

<br />

@Html.Action("TotalCreditedAmount")
@*@Html.Action("TotalDepositInterests")
@Html.Action("TotalCreditInterests")*@
@Html.Action("ProfitPlanningCalc")
<br/>
@Html.ActionLink("Interest Charge", "ProfitCalc", null, new{@id="add"})


