<h2>@Resources.Resource.TotalDepositedAmount</h2>

@Html.DisplayFor(model => Model)

<br />

@Html.Action("TotalCreditedAmount")
@Html.Action("TotalDepositInterests")
@Html.Action("TotalCreditInterests")

@Html.Action("ProfitCalc")n("TotalCreditedAmount")