@model PagedList.IPagedList<EasyBank.Models.Operation>
@using PagedList.Mvc;
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<table style="margin: 0 auto;">
    <tr>
        <th></th>
        <th>
            @Html.ActionLink(Resources.Resource.OperationDate, "AccountHistory", new { sort = ViewBag.SortDate })
        </th>
        <th>
            @Html.DisplayName(@Resources.Resource.Amount)
        </th>
        <th>
            @Html.DisplayName(@Resources.Resource.Sender)
        </th>
        <th>
            @Html.DisplayName(@Resources.Resource.Recipient)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="height: 60px; border-radius:10px;">
            <td>
                @if (item.FromAccountId == null)
                {
                    <img src="~/Content/images/money_add_3612.ico">
                }
                else
                {
                    if (item.ToAccountId == null)
                    {
                    <img src="~/Content/images/money_delete_2216.ico">
                    }
                    else
                    {
                        if (item.FromAccountId == ViewBag.ClientsCardId)
                        {
                    <img src="~/Content/images/kopeteavailable_4552.ico">
                    <img src="~/Content/images/misc_26_6816.ico">
                        }
                        else
                        {
                    <img src="~/Content/images/kopeteavailable_4552.ico">
                    <img src="~/Content/images/back_2436.ico">
                        }
                    }
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>


            @if (item.Amount > 0)
            { 
                <td id="positiveAmount" style="color: green">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
            }
            else
            {
                <td id="negativeAmount" style="color: tomato">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.FromAccount.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToAccount.AccountNumber)
            </td>

        </tr>
    }   
</table>
<br />

@Resources.Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Resources.Resource.Of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("AccountHistory", new { page, sort = ViewBag.CurrentSort }))