@model List<EasyBank.Models.DepositCreditModel>

@using (Html.BeginForm("ChooseBankProduct", "Protected", FormMethod.Post))
{

<table>
    <tr>
        <th>
             
        </th>
        <th>
            Deposit Name
        </th>
        <th>
            Duration
        </th>
        <th>
            Interest Rate
        </th>
        <th>
            Early Termination
        </th>

    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.RadioButtonFor(modelItem => item, "Yes")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EarlyTermination)
            </td>

        </tr>
    }
</table>

        <p>
            <input type="submit" value="@Resources.Resource.Create"  />
        </p>
    
}
