@model EasyBank.Models.Client

@{
    ViewBag.Title = "Clients profile";
}
<h2>Client accounts</h2>

<p>
    @Html.ActionLink("Add new account", "AddAccount", new { UserId = Model.ClientId })
</p>
<table>
    <tr>
        <th>Account number</th>
        <th>Expiration Date</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>Type</th>
        <th>Status</th>
    </tr>
    @foreach (var item in Model.Accounts) { 
        
        <tr>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.ExpirationDate)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.Amount)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.Currency.CurrencyName)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.AccountType.TypeName)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.AccountStatus.StatusName)
                </div>
            </td>

        </tr>
    }
</table>
