@model EasyBank.Models.Client

@{
    ViewBag.Title = "Clients profile";
}
<h2>Client profile</h2>
<table>
    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Name)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Name)
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Surname)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Surname)
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Email)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Email)
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.BirthDate)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.BirthDate)
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.PIdNumber)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.PIdNumber)
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.RegistrationDate)
            </div>
        </td>
    </tr>

</table>

<h3>Accounts:</h3>
<p>
    @Html.ActionLink("Add new account", "AddAccount", new { UserId = Model.ClientId })
</p>

<table>
    <tr>
        <th>Account number</th>
        <th>Expiration Date</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>Type</th>
        <th>Status</th>
    </tr>
    @foreach (var item in Model.Accounts) { 
        
        <tr>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.ExpirationDate)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.Amount)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.Currency.CurrencyName)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.AccountType.TypeName)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.AccountStatus.StatusName)
                </div>
            </td>

        </tr>
    }
</table>
