@model PagedList.IPagedList<EasyBank.Models.Client>
@using PagedList.Mvc;
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Clients";
}
<h2>Clients List</h2>
<p>
    @Html.ActionLink("Add new Client", "AddClient")
</p>
@using (Html.BeginForm("ClientsList", "Protected", FormMethod.Get))
{
    <p>
        <select>
            <option disabled selected>Критерій пошуку</option>
            <option value="Name">@Resources.Resource.Name</option>
            <option value="Surname">@Resources.Resource.Surname</option>
            <option value="PId Number">@Resources.Resource.PIdNum</option>
            <option value="Birth Date">@Resources.Resource.BirthDate</option>
            <option value="Registration Date">@Resources.Resource.RegDate</option>
        </select>
        Input: @Html.TextBox("Search", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>

}
@if (Model.Count() == 0)
{
    <h3>Client is not found!</h3>
}
else
{
    {
        <table>
            <tr>
                <th>

                    @Html.ActionLink(@Resources.Resource.Name, "ClientsList", new { sort = ViewBag.NameSort, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink(@Resources.Resource.Surname, "ClientsList", new { sort = ViewBag.SurnameSort, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink(@Resources.Resource.PIdNum, "ClientsList", new { sort = ViewBag.PIdNumberSort, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink(@Resources.Resource.BirthDate, "ClientsList", new { sort = ViewBag.BirthDateSort, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink(@Resources.Resource.Email, "ClientsList", new { sort = ViewBag.EmailSort, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink(@Resources.Resource.RegDate, "ClientsList", new { sort = ViewBag.RegistrationDateSort, currentFilter = ViewBag.CurrentFilter })

                    @Html.ActionLink(@Resources.Resource.Name, "ClientsList", new { sortOrder = ViewBag.NameSortParm })
                </th>

                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@Html.DisplayFor(modelItem => item.Name).ToString(), "ClientsProfile", new { id = item.ClientId })
                    </td>
                    <td>
                        @Html.ActionLink(@Html.DisplayFor(modelItem => item.Surname).ToString(), "ClientsProfile", new { id = item.ClientId })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PIdNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditClient", new { id = item.ClientId }) |
                        @Html.ActionLink("Details", "ClientsProfile", new { id = item.ClientId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ClientId })
                    </td>
                </tr>
            }
        </table>
    }

}
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("ClientsList", new { page, sort = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

