@model EasyBank.Models.Client

@{
    ViewBag.Title = @Resources.Resource.ClientsProfile;
}
<script>

    $(document).ready(function () {
        prevTriggeredTrId = "";


        $(".selectableTr").click(function () {
            if (this.id != prevTriggeredTrId) {
                $(this).css("background-color", "white");
                $("#" + prevTriggeredTrId.toString()).css("background-color", "#efeeef")
                prevTriggeredTrId = this.id;
                parms = this.id.split('-', 2);
                $("#payInButton").attr("href", "/Operation/AddMoney/" + parms[0]);
                $("#payOutButton").attr("href", "/Operation/WidthdrawMoney/" + parms[0]);
                $("#transferButton").attr("href", "/Operation/TransferMoney/" + parms[0]);
                if (parms[1] == "Credit") {
                    $("#payInButton").css("opacity", 1);
                    $("#payOutButton").css("opacity", 0);
                    $("#transferButton").css("opacity", 0);
                }
                else if (parms[1] == "Deposit") {
                    $("#payInButton").css("opacity", 1);
                    $("#payOutButton").css("opacity", 1);
                    $("#transferButton").css("opacity", 1);
                }
                else if (parms[1] == "Normal") {
                    $("#payInButton").css("opacity", 1);
                    $("#payOutButton").css("opacity", 1);
                    $("#transferButton").css("opacity", 1);
                }
            }

        });
    });
</script>
<h2>@Html.Label(@Resources.Resource.ClientsProfileTitle)</h2>
<table>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Name)
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Name)
            </div>
        </td>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Surname)
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Surname)
            </div>
        </td>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Email)
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Email)
            </div>
        </td>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.BirthDate)
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.BirthDate)
            </div>
        </td>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.PIdNumber)
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.PIdNumber)
            </div>
        </td>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.RegistrationDate)
            </div>
        </td>
    </tr>

</table>

@Html.Action("ShowClientPhoto", new { id = Model.ClientId })
<p>
    @Html.ActionLink(@Resources.Resource.AddAccount, "AddAccount", new { clientId = Model.ClientId })
</p>
<p>
    @Html.ActionLink("Add Deposit Account", "AddDepositAccount", new { clientId = Model.ClientId })
</p>
<p>
    @Html.ActionLink("Add Credit Account", "AddCreditAccount", new { clientId = Model.ClientId })
</p>
<div>
    @Html.ActionLink(@Resources.Resource.AddPhoto, "AddPhoto", new { id = Model.ClientId })
</div>
<table>
    @if (Model.Accounts.Count() != 0)
    {
        <tr>
            <th>@Html.Label(@Resources.Resource.AccNumb) </th>
            <th>@Html.Label(@Resources.Resource.ExpDate) </th>
            <th>@Html.Label(@Resources.Resource.Amount)</th>
            <th>@Html.Label(@Resources.Resource.Currency)</th>
            <th>@Html.Label(@Resources.Resource.Type)</th>
            <th>@Html.Label(@Resources.Resource.Status)</th>
        </tr>
    }
    else
    {

        @Resources.Resource.AccountsAreAbsent
    }

    @foreach (var item in Model.Accounts)
    {
        
        <tr id="@item.AccountId-@item.AccountType.TypeName" class="selectableTr">
            <td>
                <div class="display-field">
                   @Html.ActionLink(@Html.DisplayFor(modelItem => item.AccountNumber).ToString(), "AccountHistory", "Protected", new{id = item.AccountId}, null)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.ExpirationDate)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.Amount)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.Currency.CurrencyName)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.AccountType.TypeName)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.AccountStatus.StatusName)
                </div>
            </td>
            <td>
                @Html.ActionLink(@Resources.Resource.Freeze, "Freeze", new { id = item.AccountId, clientId = Model.ClientId }) |
                @Html.ActionLink(@Resources.Resource.Block, "Block", new { id = item.AccountId, clientId = Model.ClientId }) |
                @Html.ActionLink(@Resources.Resource.SetToNormal, "SetToNormal", new { id = item.AccountId, clientId = Model.ClientId })
            </td>
        </tr>
        
    }
</table>
<a href="#" id="payInButton" style="opacity: 0">@Resources.Resource.PayIn</a>
<a href="#" id="payOutButton" style="opacity: 0">@Resources.Resource.PayOut</a>
<a href="#" id="transferButton" style="opacity: 0">@Resources.Resource.TransMoney</a>

