@model EasyBank.Models.Currency
@{
    ViewBag.Title = @Resources.Resource.CurrencyList;
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<h2>@Html.Label(@Resources.Resource.Currencies)</h2>

<fieldset>
    @using (Html.BeginForm("AddCurrency", "Protected", FormMethod.Post))
    {
        <h5>@Resources.Resource.CurrencyName</h5>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurrencyName)
            @Html.ValidationMessageFor(model => model.CurrencyName)
        </div>
        <h5>@Resources.Resource.PurchaseRate</h5>
        <div class="editor-field">
            @Html.EditorFor(model => model.PurchaseRate)
            @Html.ValidationMessageFor(model => model.PurchaseRate)
        </div>
        <h5>@Resources.Resource.SallingRate</h5>
        <div class="editor-field">
            @Html.EditorFor(model => model.SaleRate)
            @Html.ValidationMessageFor(model => model.SaleRate)
        </div>
        <input type="submit" value="@Resources.Resource.AddCurrency" />
    }
    @Html.Raw(TempData["verifyDelete"])
    @Html.Raw(TempData["verifyAdd"])



</fieldset>

<h2>@Resources.Resource.CurrencyList</h2>

@using (Html.BeginForm("verifyDelete", "Protected", FormMethod.Post))
{
    <select id="selection" name="selection">
        @foreach (var currency in ViewBag.Currencies)
        {
            <option value="@currency.CurrencyId">@currency.CurrencyName</option>
        }
    </select>
    <input type="text" name="id" id="hid" hidden="hidden" value="1">
    <input type="submit" value="@Resources.Resource.Delete" />
    <script>
        $("#selection").on("change", function () {
            $("#hid").val($("#selection").val());
        });
    </script>
}
