@model EasyBank.Models.Client

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<h2>@Html.Label(@Resources.Resource.EditClient)</h2>
<br />
    @Html.ActionLink(@Resources.Resource.BackToList, "ClientsList")
<br />
<br />
@using (Html.BeginForm("EditClient", "Protected", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)



    <fieldset>
        <legend>@Resources.Resource.Client</legend>
        
        @ViewBag.Message
        
        <div>
            @Html.ActionLink(@Resources.Resource.EditPhoto, "AddPhoto", new { id = Model.ClientId })
        </div>
        <br/>

        @Html.HiddenFor(model => model.ClientId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Surname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Surname)
            @Html.ValidationMessageFor(model => model.Surname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PIdNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PIdNumber)
            @Html.ValidationMessageFor(model => model.PIdNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BirthDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BirthDate)
            @Html.ValidationMessageFor(model => model.BirthDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div>
            <h3>@Resources.Resource.AllowWebAccees</h3>
            @Html.CheckBoxFor(m => m.IsOnlineUser)
        </div>
        <div class="editor-label">
            @Html.HiddenFor(model => model.RegistrationDate)
        </div>
        <div class="editor-label">
            @Html.HiddenFor(model => model.InitialPassword)
        </div>
        <div class="editor-label">
            @Html.HiddenFor(model => model.IsAlreadyRegistered)
        </div>

        <p>
            <input type="submit" value="@Resources.Resource.Save" />
        </p>
    </fieldset>
}
