@model EasyBank.Models.ClientsImage

@{
    ViewBag.Title = @Resources.Resource.ClientsPassport;
}
<h2>@Html.Label(@Resources.Resource.Passport)</h2>

@if (Model == null)
{
    @Resources.Resource.NoPhoto
}
else
{
    var base64 = Convert.ToBase64String(Model.ImageContent);
    var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);

    <img src="@imgSrc" />
}

<br />

@Html.ActionLink(@Resources.Resource.BackToList, "ClientsList")
