@model EasyBank.Models.ErrorReport
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Resource.OperationError</title>
</head>
<body>
    <div>
        <h1> @Resources.Resource.OperationError </h1>
        <h3> @Resources.Resource.ErrorCode: @ViewBag.ErrorCode</h3>
        <h4> @Resources.Resource.OperationErrorMessage</h4>
        <h2>@Resources.Resource.DescribeTheProblem</h2>
        <form method="post" action="OperationError">
            <fieldset>
                @* @Html.EditorForModel(Model); *@

                <br />     @Resources.Resource.TypeTheText     <br />
                <textarea name="Text" rows="10" cols="40"></textarea>
                <br />
                <br />
                @Html.HiddenFor(model => model.AccountId)

                <input type="submit" value=@Resources.Resource.SubmitEntry />
            </fieldset>
        </form>

    </div>
</body>
</html>
