@model EasyBank.Models.ErrorReport

<div>
    <h1>@Resources.Resource.OperationError </h1>
    <br/>
    <font size="5">@Resources.Resource.ErrorCode: @ViewBag.ErrorCode</font>
    <h3>@Resources.Resource.DescribeTheProblem</h3>
    <form method="post" action="OperationError">
        <fieldset>
            <br />
            <textarea name="Text" rows="10" cols="40" id="text"></textarea>
            <br />
            <br />
            @Html.HiddenFor(model => model.AccountId)

            <input type="submit" value=@Resources.Resource.SubmitEntry id="submitButton"/>
        </fieldset>
    </form>
</div>

