@model List<EasyBank.Models.DepositCreditModel>
<h2>@Html.Label(@Resources.Resource.BankProducts)</h2>
<br />
<table>
    <tr>
        <th>
            @Resources.Resource.DepositName
        </th>
        <th>
            @Resources.Resource.Duration
        </th>
        <th>
            @Resources.Resource.InterestRate
        </th>
        <th>
            @Resources.Resource.EarlyTermination
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EarlyTermination)
            </td>

        </tr>
    }
</table>

@Html.Action("CreditList")