@model EasyBank.Models.LoginModel

@{
    ViewBag.Title = "Log in for clients";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h3>Use your credentials to enter the system.</h3>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
        </ol>
        @ViewBag.Message
        <br />
        <input type="submit" value="Log in" />
    </fieldset>
}
</section>

<section class="social" id="socialLoginForm">
    <h2>Welcome to Easy Bank online service!</h2>

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
