@*@model EasyBank.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
*@


@model EasyBank.Models.RegisterCompositeModel

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Client</legend>
        
        @ViewBag.Message

        <div class="editor-label">
            @Html.LabelFor(model => model.Client.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Client.Name)
            @Html.ValidationMessageFor(model => model.Client.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Client.Surname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Client.Surname)
            @Html.ValidationMessageFor(model => model.Client.Surname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Client.PIdNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Client.PIdNumber)
            @Html.ValidationMessageFor(model => model.Client.PIdNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Client.BirthDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Client.BirthDate)
            @Html.ValidationMessageFor(model => model.Client.BirthDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Client.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Client.Email)
            @Html.ValidationMessageFor(model => model.Client.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div>
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

                <label for=" file">@Resources.Resource.UploadPassportScan:</label>
        <input type="file" name="file" id="file" accept="image/jpeg,image/png" style="width: 100%;" value="@Resources.Resource.ChooseFile" />

        <p>
            <input type="submit" value="Create" class="submit" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "ClientsList")
</div>

