@*@model EasyBank.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
*@


@model EasyBank.Models.RegisterCompositeModel

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Editor/tinymce.min.js")"></script>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
 @Html.AntiForgeryToken()
 @Html.ValidationSummary()
    @section Scripts {
@Scripts.Render("~/bundles/jqueryval")
}
    <h2>@Html.Label(@Resources.Resource.AddClient)</h2>
    <br />
        @Html.ActionLink(@Resources.Resource.BackToList, "ClientsList", "Protected")
    <br /><br />
    <fieldset>
        <legend>Client</legend>

        @ViewBag.Message

        <div class="editor-label">
            @Html.LabelFor(model => model.Client.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Client.Name)
            @Html.ValidationMessageFor(model => model.Client.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Client.Surname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Client.Surname)
            @Html.ValidationMessageFor(model => model.Client.Surname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Client.PIdNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Client.PIdNumber)
            @Html.ValidationMessageFor(model => model.Client.PIdNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Client.BirthDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Client.BirthDate)
            @Html.ValidationMessageFor(model => model.Client.BirthDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Client.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Client.Email)
            @Html.ValidationMessageFor(model => model.Client.Email)
        </div>
        <script type="text/javascript">

            window.onload = addListnr();
            function addListnr() {
                inputImage.addEventListener("change", function () {
                    if (inputImage.files[0].size > 2000000) {
                        inputImage.value = null;
                        alert('Максимальный размер файла 2 MB!');
                        return false;
                    }
                    else if (inputImage.files[0].type != "gif" || inputImage.files[0].type != "jpg" || inputImage.files[0].type != "jpeg" || inputImage.files[0].type != "png") {
                        inputImage.value = null;
                        alert('Недопустимый формат файла');
                        return false;
                    }
                    return true;
                });
            }
        </script>

        <label for=" file">@Resources.Resource.UploadPassportScan:</label>
        <input id="inputImage" type="file" name="file" accept="image/jpeg,image/png" style="width: 100%;" value="@Resources.Resource.ChooseFile" />

        <p>
            <input type="submit" value=@Resources.Resource.Create class="submit" />
        </p>
    </fieldset>
}



