
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Easy Bank</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        @*   @using (Html.BeginForm("ChangeCulture", "Home", FormMethod.Post, new {name = "langForm" }))
        {
            <select id="langSelect" name="lang">
                <option disabled selected>@Resources.Resource.ChooseLang</option>
                <option value="uk-UA">Українська</option>
                <option value="ru">Русский</option>
                <option value="en">English</option>
            </select>
        }
            <a href="/Home/ChangeCulture?lang=uk-UA" name="lang">UA</a>
            <a href="/Home/ChangeCulture?lang=en" name="lang">EN</a>
            <a href="/Home/ChangeCulture?lang=ru" name="lang">RU</a>*@
        <div class="content-wrapper">
            <div class="float-left">
                <a href="/Home/ChangeCulture?lang=uk-UA" name="lang">UA</a>
                <a href="/Home/ChangeCulture?lang=en" name="lang">EN</a>
                <a href="/Home/ChangeCulture?lang=ru" name="lang">RU</a>
                <p class="site-title">
                    @if (User.IsInRole("Administrator") || User.IsInRole("Operator"))
                    {
                        @Html.ActionLink("Easy Bank", "ClientsList", "Protected")<sup id="supLogo">office</sup>
                    }
                    else
                    {
                        @Html.ActionLink("Easy Bank", "Index", "Home")
                    }
                </p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        @if (User.IsInRole("Client"))
                        {
@*<li>@Html.ActionLink(@Resources.Resource.Details, "ClientsProfile", "Protected", new {clientId = WebSecurity.GetUserId(User.Identity.Name) })</li>*@
@*<li>@Html.ActionLink(@Resources.Resource.Details, "ClientsProfile", "Protected")</li>*@
@* <li>@Html.ActionLink(@Resources.Resource.Details, "ClientsProfile", "Account", new { clientId = WebSecurity.GetUserId(User.Identity.Name) }, htmlAttributes: new { clientId = WebSecurity.GetUserId(User.Identity.Name) })</li>*@
                            <li>@Html.ActionLink(@Resources.Resource.Details, "ClientsProfile", "Account")</li>
                            <li>@Html.ActionLink(@Resources.Resource.BankProducts, "DepositList", "Account")</li>
                        }
                        @if (User.IsInRole("Operator"))
                        {
                            <li>@Html.ActionLink(@Resources.Resource.ClientsList, "ClientsList", "Protected")</li>
                            <li>@Html.ActionLink(@Resources.Resource.BankProducts, "DepositList", "Office")</li>
                        }
                        @if (User.IsInRole("Administrator"))
                        {
                            <li>@Html.ActionLink(@Resources.Resource.FinancialReports, "TotalDepositedAmount", "Operation")</li>
                            <li>@Html.ActionLink(@Resources.Resource.Currencies, "CurrencyList", "Protected")</li>
                            <li>@Html.ActionLink(@Resources.Resource.BankProducts, "DepositList", "Office")</li>
                            <li>@Html.ActionLink(@Resources.Resource.OperatorsList, "OperatorsList", "Protected")</li>
                            <li>@Html.ActionLink(@Resources.Resource.ErrorReports, "ErrorReports", "Protected")</li>
                        }
                                    

@*<li>@Html.ActionLink("RegisterAdmin","RegisterAdmin","Account")</li>*@
    </ul>
                </nav>
            </div>
        </div>
    </header>
    
    <div id="body">
        
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Easy Bank</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>

